.danger{
    width: 88px;
height: 37px;


background: #FF6767;
border-radius: 8px;
color: white;
border: none;
font-weight: 400;
cursor: pointer;
    position: relative;
    top: -55px;
    left: 110px;
}
